<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>myFollowerz App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://52.59.166.209/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
  <style>
        .container {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #results .row {
            margin-top: 15px;
            margin-bottom: 15px;
        }
  </style>
</head>
<body>
  <ul class="menu">
    <li><a href="#!/view2">My Followerz</a></li>
    <li><a href="#!/view3">WorldMap</a></li>
    <li><a href="#!/view4">TimeMap</a></li>
    <li><a href="#!/view5">TweetTimer</a></li>
	 <li><a href="#!/view6">myAccount</a></li>
  </ul>

  <div ng-view></div>

  <div class="container" ng-controller="TwitterController">
      <div class="row">
          <div class="col-xs-6">
              <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
              <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
	</div>
      </div>
  </div>
  
<!--<center> <a href="http://www.twitter.com" ><img class="displayed" src="images/sign-in-with-twitter.png" alt="twitterlogin"> </center>
-->

	
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/auth0-lock/build/lock.js"></script>
  <script src="bower_components/angular-lock/dist/angular-lock.js"></script>
  <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfu95SmPK_FZFrc1oIZrOwfz6DMQ2KBMM&sensor=false"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="view3/view3.js"></script>
  <script src="view4/view4.js"></script>
  <script src="view5/view5.js"></script>
  <script src="view6/view6.js"></script>
  <script src="oauth.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
